{% extends 'base_template.html'%}
{% load static %}
{% block body %}
<!-- Page Preloder -->
<!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->
<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="img/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
        <div class="header__cart__price">Total: <span>${{order.get_cart_total|floatformat:2}}</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="img/#" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
            </ul>
        </div>
        <div class="header__top__right__auth">
            <a href="#"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./index.html">Home</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
            <li>Free Shipping for all Order of $99</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->



<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="{% url 'Meat_Seafood' %}">Meat and Seafood</a></li>
                        <li><a href="{% url 'Fruits_Vegetables' %}">Fruit and Vegetables</a></li>
                        <li><a href="{% url 'Pantry' %}">Pantry</a></li>
                        <li><a href="{% url 'Beverages' %}">Beverages</a></li>
                        <li><a href="{% url 'Dairy_Eggs' %}">Dairy, Eggs & Cheese</a></li>
                        <li><a href="{% url 'Frozen_Foods' %}">Frozen Foods</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <datalist id="products">
                            <option value="Dairy, Eggs and & Cheese">American Cheese</option>
                            <option value="Apples">
                            <option value="Banana">
                            <option value="Broccoli">
                            <option value="Carrots">
                            <option value="Dairy, Eggs and & Cheese">Cheddar Cheese</option>
                            <option value="">Cream Cheese
                            <option value="Cucumber">
                            <option value="Dairy, Eggs and & Cheese">Eggs</option>
                            <option value="Dairy, Eggs and & Cheese">Egg Whites</option>
                            <option value="Garlic">
                            <option value="Grapes">
                            <option value="Guava">
                            <option value="Lemon">
                            <option value="Lettuce">
                            <option value="Dairy, Eggs and & Cheese">Low Fat Milk</option>
                            <option value="Mango">
                            <option value="NewyorkPP">
                            <option value="Onion">
                            <option value="Oranges">
                            <option value="Dairy, Eggs and & Cheese">Plain Yogurt</option>
                            <option value="Potatos">
                            <option value="RibeyesPP">
                            <option value="Tomatos">
                            <option value="Watermelons">
                            <option value="Dairy, Eggs and & Cheese">Whole Milk</option>
                        </datalist>
                        <form action="#">
                            <input type="text" list="products" placeholder="What do you need?">
                            <button type="submit" class="site-btn" name="button">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Weight</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ordereditem in items %}
                            <tr>
                                <td class="img-fluid">
                                    <img src="{{ordereditem.product.imageURL}}" alt="">
                                </td>
                                <td class="shoping__cart__item" style="text-align:center">
                                    <h5>{{ordereditem.product.name}}</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    ${{ordereditem.product.price|floatformat:2}}
                                </td>
                                {% for message in messages %}
                                <script>alert("{{message}}")</script>
                                {% endfor %}
                                <td class="shoping__cart__quantity">
                                    <div class="div">
                                        <div class="row justify-content-center align-self-center">
                                            <button type="button" data-product={{ordereditem.product.id}}
                                                data-action="add" class="btn btn-light btn-sm update-cart mr-2"><i
                                                    class="fa fa-plus fa-sm"></i></button>
                                            <span class="font-weight-bold">{{ordereditem.quantity}}</span>
                                            <button type="button" data-product={{ordereditem.product.id}}
                                                data-action="remove" class="btn btn-light btn-sm update-cart ml-2"><i
                                                    class="fa fa-minus fa-sm"></i></button>
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__weight">
                                    {{ordereditem.get_total_weight|floatformat:2}} lb(s)
                                </td>
                                <td class="shoping__cart__total">
                                    ${{ordereditem.get_total|floatformat:2}}
                                </td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"></span>
                                </td>
                            </tr>
                            <!-- Prepare line-items for stripe back-end payment -->
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Total Weight <span>{{order.get_order_weight|floatformat:2}}lb(s)</span></li>
                        <li>Total Price <span>${{order.shipping_fee|floatformat:2}}</span></li>
                    </ul>
                    <button onclick="location.href='{% url 'checkout' %}'" class="primary-btn btn btn-primary btn-lg">
                        Proceed to checkout</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
{% endblock %}