{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map'%} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css'%} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css'%} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css'%} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css'%} " type="text/css">
    <!-- reference your installed Font Awesome Free package's files here -->
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/all.min.js' %}"></script>
    <!-- Our own css file, always put at the end of head -->
    <link rel="stylesheet" href="{% static 'css/style.css'%} " type="text/css">
    <script>
        var username = '{{request.user}}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

    </script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/#" alt="">
                <span class="arrow_carrot-down"></span>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'homepage' %}">Home</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <!-- <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li> -->
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row" style="height: 60px;padding-top: 10px;">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i>cmpeOFS@gmail.com</li>
                                <li>Free Shipping for Orders Under $20</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                            </div>
                            <div class="header__top__right__language">
                            </div>
                            <div class="header__top__right__auth">
                                <div class="d-inline-flex justify-content-end">
                                    {% if request.user|safe == "AnonymousUser" %}
                                    <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm"
                                        style="background-color:azure">Log In</a>
                                    {% else %}
                                    <div><a class="btn btn-outline-primary btn-sm">Hello, {{request.user}}</a></div>
                                    <div
                                        style="border-left: 1px solid lightslategray; height:auto; margin: 0 2px 0 2px;">
                                    </div>
                                    <div><a href="{% url 'profile' %}"
                                            class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
                                    <a href="{% url 'logout' %}" class="btn btn-primary btn-sm"
                                        style="margin-left:10px;">Log Out</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><!--img src="img/logo.png" alt=""></a> -->
                        <img src="/static/static/img/OFS-logo.jpg" alt="" style="width:50%;height:50%;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="{% url 'homepage' %}">Home</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-bag"></i> <span>{{cartItems}}</span></a></li>
                        </ul>
                        <div class="header__cart__price">Total: <span>${{order.get_cart_total|floatformat:2}}</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="{% url 'Meat_Seafood' %}">Meat and Seafood</a></li>
                            <li><a href="{% url 'Fruits_Vegetables' %}">Fruit and Vegetables</a></li>
                            <li><a href="{% url 'Pantry' %}">Pantry</a></li>
                            <li><a href="{% url 'Beverages' %}">Beverages</a></li>
                            <li><a href="{% url 'Dairy_Eggs' %}">Dairy, Eggs & Cheese</a></li>
                            <li><a href="{% url 'Frozen_Foods' %}">Frozen Foods</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <datalist id="products">
                                <option value="Ribeye Steak"></option>
                                <option value="New York Strip Steak">
                                <option value="Chicken Thighs">
                                <option value="Chicken Breast">
                                <option value="Pork Chops">
                                <option value="Bacon"></option>
                                <option value="Shrimp">
                                <option value="Clams">
                                <option value="Banana"></option>
                                <option value="Watermelon"></option>
                                <option value="Mango">
                                <option value="Apple">
                                <option value="Grapes">
                                <option value="Orange">
                                <option value="Lemon">
                                <option value="Brocolli"></option>
                                <option value="Lettuce">
                                <option value="Carrots">
                                <option value="Potato">
                                <option value="Cucumber">
                                <option value="Tomato"></option>
                                <option value="Garlic">
                                <option value="Onions">
                                <option value="Pepsi">
                                <option value="Orange Juice	">
                                <option value="Pure Leaf"></option>
                                <option value="Crystal Geyser Water"></option>
                                <option value="La Croix"></option>
                                <option value="Starbucks Ice's Coffee"></option>
                                <option value="Red Bull"></option>
                                <option value="Kombucha"></option>
                                <option value="Cheddar Cheese"></option>
                                <option value="Whole Milk"></option>
                                <option value="Low Fat Milk"></option>
                                <option value="Cream Cheese"></option>
                                <option value="Yogurt"></option>
                                <option value="Dozen Eggs"></option>
                                <option value="Egg Whites"></option>
                                <option value="American Cheese"></option>
                                <option value="Cheerios"></option>
                                <option value="Brown rice"></option>
                                <option value="Oreos"></option>
                                <option value="Sourdough bread"></option>
                                <option value="Pickles"></option>
                                <option value="Canned black beans"></option>
                                <option value="Peanut butter"></option>
                                <option value="Sugar"></option>
                                <option value="Ice cream"></option>
                                <option value="Waffles"></option>
                                <option value="Cool Whip"></option>
                                <option value="Frozen blueberries"></option>
                                <option value="Hot Pockets"></option>
                                <option value="Garlic bread"></option>
                                <option value="Pizza"></option>
                                <option value="Ice cream bars"></option>
                            </datalist>
                            <form action="{% url 'search_result' %}" method = "GET" autocomplete = "off">
                                <input name = "query" type="text" list="products" placeholder="What do you need?" >
                                <button type="submit" class="site-btn" name="button">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>1-844-936-8256</h5>
                                <span>Support 24/7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Details Section Begin -->
    {% block product_info %}
    {% endblock %}
    <!-- Product Details Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js'%} "></script>
    <script src="{% static 'js/bootstrap.min.js'%} "></script>
    <script src="{% static 'js/bootstrap.min.js.map'%} "></script>
    <script src="{% static 'js/jquery.nice-select.min.js'%} "></script>
    <script src="{% static 'js/jquery-ui.min.js'%} "></script>
    <script src="{% static 'js/jquery.slicknav.js'%} "></script>
    <script src="{% static 'js/mixitup.min.js'%} "></script>
    <script src="{% static 'js/owl.carousel.min.js'%} "></script>
    <script src="{% static 'js/main.js'%} "></script>
</body>

</html>
