{% extends 'base_template.html'%}
{% load static %}
{% block body %}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="{% url 'Meat_Seafood' %}">Meat and Seafood</a></li>
                        <li><a href="{% url 'Fruits_Vegetables' %}">Fruit and Vegetables</a></li>
                        <li><a href="{% url 'Pantry' %}">Pantry</a></li>
                        <li><a href="{% url 'Beverages' %}">Beverages</a></li>
                        <li><a href="{% url 'Dairy_Eggs' %}">Dairy, Eggs & Cheese</a></li>
                        <li><a href="{% url 'Frozen_Foods' %}">Frozen Foods</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <datalist id="products">
                            <option value="Dairy, Eggs and & Cheese">American Cheese</option>
                            <option value="Apples">
                            <option value="Banana">
                            <option value="Broccoli">
                            <option value="Carrots">
                            <option value="Dairy, Eggs and & Cheese">Cheddar Cheese</option>
                            <option value="">Cream Cheese
                            <option value="Cucumber">
                            <option value="Dairy, Eggs and & Cheese">Eggs</option>
                            <option value="Dairy, Eggs and & Cheese">Egg Whites</option>
                            <option value="Garlic">
                            <option value="Grapes">
                            <option value="Guava">
                            <option value="Lemon">
                            <option value="Lettuce">
                            <option value="Dairy, Eggs and & Cheese">Low Fat Milk</option>
                            <option value="Mango">
                            <option value="NewyorkPP">
                            <option value="Onion">
                            <option value="Oranges">
                            <option value="Dairy, Eggs and & Cheese">Plain Yogurt</option>
                            <option value="Potatos">
                            <option value="RibeyesPP">
                            <option value="Tomatos">
                            <option value="Watermelons">
                            <option value="Dairy, Eggs and & Cheese">Whole Milk</option>
                        </datalist>
                        <form action="#">
                            <input type="text" list="products" placeholder="What do you need?">
                            <button type="submit" class="site-btn" name="button">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>1-844-936-8256</h5>
                            <span>Support 24/7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
              <!--  <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="" alt="">
                        </div>
                    </div>
                </div>
                    <div class="row featured__filter">-->
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Beverages/pepsi.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                  <h6><a href="{% url 'product_detail' 25 %}">Pepsi</a></h6>

                                    <!-- <h6><a href="#">Pepsi</a></h6> -->
                                    <h5>$12.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Beverages/oj.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                  <h6><a href="{% url 'product_detail' 26 %}">Orange Juice</a></h6>

                                    <!-- <h6><a href="#">Orange Juice</a></h6> -->
                                    <h5>$2.50</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Beverages/tea.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                  <h6><a href="{% url 'product_detail' 27 %}">Tea</a></h6>

                                    <!-- <h6><a href="#">Tea</a></h6> -->
                                    <h5>$9.98</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Beverages/water.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                  <h6><a href="{% url 'product_detail' 28 %}">Crystal Geyser Water</a></h6>

                                    <!-- <h6><a href="#">Crystal Geyser Water</a></h6> -->
                                    <h5>$4.48</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Beverages/lacroix.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                  <h6><a href="{% url 'product_detail' 29 %}">La Croix</a></h6>

                                    <!-- <h6><a href="#">La Croix</a></h6> -->
                                    <h5>$4.19</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Beverages/coffeeliquid.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                  <h6><a href="{% url 'product_detail' 30 %}">Starbucks Coffee</a></h6>

                                    <!-- <h6><a href="#">Starbucks coffee</a></h6> -->
                                    <h5>$4.89</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Beverages/redbull.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                  <h6><a href="{% url 'product_detail' 31 %}">Redbull</a></h6>

                                    <!-- <h6><a href="#">Redbull</a></h6> -->
                                    <h5>$9.69</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Beverages/kombuchapack.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                  <h6><a href="{% url 'product_detail' 32 %}">Kombucha</a></h6>

                                    <!-- <h6><a href="#">Kombucha</a></h6> -->
                                    <h5>$15.97</h5>
                                </div>
                            </div>
                        </div>

                  <!--  </div>-->
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    {% endblock %}
