{% extends 'ProductPages/base_product_template.html'%}
{% load static %}
{% block product_info %}
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="" alt="">
                        </div>
                        <!-- Commenting this out because we won't have more than one photo... unless yall want -->
                        <!-- <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="img/product/details/product-details-2.jpg"
                                src="img/product/details/thumb-1.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-3.jpg"
                                src="img/product/details/thumb-2.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-5.jpg"
                                src="img/product/details/thumb-3.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-4.jpg"
                                src="img/product/details/thumb-4.jpg" alt="">
                        </div> -->
                    </div>
                </div>
                    <div class="row featured__filter">
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/dairy_eggs_cheese/cheddar.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Cheddar Cheese</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/dairy_eggs_cheese/Low Fat Milk.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Low Fat Milk</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/dairy_eggs_cheese/whole milk.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Whole Milk</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/dairy_eggs_cheese/cream cheese.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Cream Cheese</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/dairy_eggs_cheese/plain yogurt.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Plain Yogurt</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/dairy_eggs_cheese/Eggs.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Dozen Eggs</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/dairy_eggs_cheese/egg whites.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Egg Whites</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/dairy_eggs_cheese/American Cheese.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">American Cheese</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->
{% endblock %}