{% extends 'ProductPages/base_product_template.html'%}
{% load static %}
{% block product_info %}
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="" alt="">
                        </div>
                        <!-- Commenting this out because we won't have more than one photo... unless yall want -->
                        <!-- <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="img/product/details/product-details-2.jpg"
                                src="img/product/details/thumb-1.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-3.jpg"
                                src="img/product/details/thumb-2.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-5.jpg"
                                src="img/product/details/thumb-3.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-4.jpg"
                                src="img/product/details/thumb-4.jpg" alt="">
                        </div> -->
                    </div>
                </div>
                    <div class="row featured__filter">
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/Bananas.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Bananas</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/broccoli.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Broccoli</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/watermelon.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Watermelon</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/mango.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Mango</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/apples.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Apples</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/guava.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Guava</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/grapes.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Grapes</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/oranges.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Oranges</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/lemons.jpg'%}">
                            </div>
                            <div class="featured__item__text">
                                <h6><a href="#">Lemons</a></h6>
                                <h5>$30.00</h5>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="product__details__text">
                                    <div class="product__details__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="primary-btn">ADD TO CART</a>
                                    <ul>
                                        <li><b>Availability</b> <span>In Stock</span></li>
                                        <li><b>Weight</b> <span>0.5 kg</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/cabbage.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Cabbage</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/spinach.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Spinach</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/broccoli.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Broccoli</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/lettuce.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Lettuce</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/carrots.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Carrots</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/potato.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Potato</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/cucumbers.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Cucumber</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/tomato.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Tomato</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/garlic.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Garlic</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Fruits_Vegetables/onions.jfif'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Onion</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="primary-btn">ADD TO CART</a>
                                        <ul>
                                            <li><b>Availability</b> <span>In Stock</span></li>
                                            <li><b>Weight</b> <span>0.5 kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    {% endblock %}