{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="At OFS, we make it easy to buy organic food online. We have lots of healthy foods to choose from for breakfast, lunch, dinner, or snack time. Shop now!">
    <meta name="keywords" content="Organi, foods, green, healthy, OFS.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>OFS | Find the best organic foods in your area.</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map'%} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css'%} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css'%} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css'%} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css'%} " type="text/css">
    <!-- reference your installed Font Awesome Free package's files here -->
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/all.min.js' %}"></script>
    <!-- Our own css file, always put at the end of head -->
    <link rel="stylesheet" href="{% static 'css/style.css'%} " type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="{% static 'img/OFS-logo.jpg'%}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="{% static 'img/language.png'%} " alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                    </ul>
                </li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order
                </li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li>Free Shipping for all Order under $15</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                            </div>
                            <div class="header__top__right__language">
                            </div>
                            <div class="header__top__right__auth">
                                <a href="{% url 'login' %}"><i class="fa fa-user"></i> Login</a>
                                <span">Hello, {{request.user}}</span>
                                <span><a href="{% url 'logout' %}">Logout</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="{% static 'img/OFS-logo.jpg'%}" alt="" style="width:50%;height:50%;"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li class="active"><a href="./shop-grid.html">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="{% url 'Meat_Seafood' %}">Meat and Seafood</a></li> 
                            <li><a href="{% url 'Fruits_Vegetables' %}">Fruit and Vegetables</a></li>
                            <li><a href="{% url 'Pantry' %}">Pantry</a></li>
                            <li><a href="{% url 'Beverages' %}">Beverages</a></li>
                            <li><a href="{% url 'Dairy_Eggs' %}">Dairy, Eggs & Cheese</a></li>
                            <li><a href="{% url 'Frozen_Foods' %}">Frozen Foods</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <datalist id = "products">
                                <option value = "Dairy, Eggs and & Cheese">American Cheese</option>
                                <option value = "Apples">
                                <option value = "Banana">
                                <option value = "Broccoli">
                                <option value = "Carrots">
                                <option value = "Dairy, Eggs and & Cheese">Cheddar Cheese</option>
                                <option value = "">Cream Cheese
                                <option value = "Cucumber">
                                <option value = "Dairy, Eggs and & Cheese">Eggs</option>
                                <option value = "Dairy, Eggs and & Cheese">Egg Whites</option>
                                <option value = "Garlic">
                                <option value = "Grapes">
                                <option value = "Guava">
                                <option value = "Lemon">
                                <option value = "Lettuce">
                                <option value = "Dairy, Eggs and & Cheese">Low Fat Milk</option>
                                <option value = "Mango">
                                <option value = "NewyorkPP">
                                <option value = "Onion">
                                <option value = "Oranges">
                                <option value = "Dairy, Eggs and & Cheese">Plain Yogurt</option>
                                <option value = "Potatos">
                                <option value = "RibeyesPP">
                                <option value = "Tomatos">
                                <option value = "Watermelons">
                                <option value = "Dairy, Eggs and & Cheese">Whole Milk</option>
                            </datalist>
                            <form action= "#">
                                <input type="text" list = "products" placeholder="What do you need?">
                                <button type="submit" class="site-btn" name = "button">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="{% static 'img/hero/banner.jpg'%}'%}">
                        <div class="hero__text">
                            <h2>Fresh Produce<br />100% Organic</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <p>Shop Today</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/Meats/steak1.jpg'%}">
                            <h5><a href="{% url 'RibeyePP' %}">Ribeye Steak</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/Fruits_Vegetables/lemons.jpg'%}">
                            <h5><a href="{% url 'Lemon' %}">Lemons</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/Frozen foods/hotpockets.jpg'%}">
                            <h5><a href="#">Hot Pockets</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/Beverages/lacroix.jpg'%}">
                            <h5><a href="#">La Croix</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/dairy_eggs_cheese/cheddar.jpg'%}">
                            <h5><a href="{% url 'CheddarCheese' %}">Cheddar Cheese</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Products</h2>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {% for product in randomProductsList|slice:":8" %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{{product.imageURL}}">
                        </div>
                        <div class="featured__item__text">
                        <h6><a href="{% url 'product_detail' product.id %}">{{product.name}}</a></h6>
                            <h5>${{product.price|floatformat:2}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/banner/banner-1.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/banner/banner-2.jpg'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js'%} "></script>
    <script src="{% static 'js/bootstrap.min.js'%} "></script>
    <script src="{% static 'js/bootstrap.min.js.map'%} "></script>
    <script src="{% static 'js/jquery.nice-select.min.js'%} "></script>
    <script src="{% static 'js/jquery-ui.min.js'%} "></script>
    <script src="{% static 'js/jquery.slicknav.js'%} "></script>
    <script src="{% static 'js/mixitup.min.js'%} "></script>
    <script src="{% static 'js/owl.carousel.min.js'%} "></script>
    <script src="{% static 'js/main.js'%} "></script>



</body>

</html>
