{% extends 'base_template.html'%}
{% load static %}
{% block body %}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="{% url 'Meat_Seafood' %}">Meat and Seafood</a></li>
                        <li><a href="{% url 'Fruits_Vegetables' %}">Fruit and Vegetables</a></li>
                        <li><a href="{% url 'Pantry' %}">Pantry</a></li>
                        <li><a href="{% url 'Beverages' %}">Beverages</a></li>
                        <li><a href="{% url 'Dairy_Eggs' %}">Dairy, Eggs & Cheese</a></li>
                        <li><a href="{% url 'Frozen_Foods' %}">Frozen Foods</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form"> 
                        <datalist id = products>
                            {% for results in showlist %}
                            <option value="{{results.name}}"></option>
                            {% endfor %}
                        </datalist>
                        <form action="{% url 'search_result' %}" method = "GET" autocomplete = "off">
                            <input name = "query" type="text" list="products" placeholder="What do you need?" >
                            <button type="submit" class="site-btn" name="button">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>1-844-936-8255</h5>
                            <span>Support 24/7</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="{% static 'img/hero/banner.jpg'%}'%}">
                    <div class="hero__text">
                        <h2>Fresh Produce<br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <p>Shop Today</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{% static 'img/Meats/steak1.jpg'%}">
                        <h5><a href="{% url 'product_detail' 1 %}">Ribeye Steak</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{% static 'img/Fruits_Vegetables/lemons.jpg'%}">
                        <h5><a href="{% url 'product_detail' 16 %}">Lemons</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{% static 'img/Frozen foods/hotpockets.jpg'%}">
                        <h5><a href="#">Hot Pockets</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{% static 'img/Beverages/lacroix.jpg'%}">
                        <h5><a href="#">La Croix</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{% static 'img/dairy_eggs_cheese/cheddar.jpg'%}">
                        <h5><a href="{% url 'product_detail' 33 %}">Cheddar Cheese</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Products</h2>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            {% for product in randomProductsList|slice:":8" %}
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="{{product.imageURL}}">
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="{% url 'product_detail' product.id %}">{{product.name}}</a></h6>
                        <h5>${{product.price|floatformat:2}}</h5>
                        {% if product.amount_in_stock <= 0 %}
                            <button type="button" data-product={{product.id}} data-action="add"
                            class="btn btn-outline-secondary btn-sm btn-rounded update-cart" disabled>OUT OF STOCK</button>
                        {% else %}
                            <button type="button" data-product={{product.id}} data-action="add"
                            class="btn btn-outline-primary btn-sm btn-rounded update-cart">ADD TO CART</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Featured Section End -->
{% endblock %}
