{% extends 'base_product_template.html'%}
{% load static %}
{% block product_info %}
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="" alt="">
                        </div>
                    </div>
                </div>
                    <div class="row featured__filter">
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/steak1.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <!-- <h6><a href="{% url 'RibeyePP' %}">Ribeye Steak</a></h6> -->
                                    <h5>$14.99</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/newyorksteak.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <!-- <h6><a href="{% url 'NewyorkPP' %}">New York Steak</a></h6> -->
                                    <h5>$12.49</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/chickenthighs.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <!-- <h6><a href="{% url 'ChickenthighsPP' %}">Chicken Thighs</a></h6> -->
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/chickenbreasts.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <!-- <h6><a href="{% url 'Chickenbreasts' %}">Chicken Breast</a></h6> -->
                                    <h5>$11.99 - 1.4 lbs</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/porkchops.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <!-- <h6><a href="{% url 'Porkchops' %}">Pork Chops</a></h6> -->
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/bacon.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <!-- <h6><a href="{% url 'Bacon' %}">Bacon</a></h6> -->
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/shrimp.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <!-- <h6><a href="{% url 'Shrimps' %}">Shrimps</a></h6> -->
                                    <h5>$11.99 - 1.0 lb</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/clams.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <!-- <h6><a href="{% url 'Clam' %}">Clam</a></h6> -->
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

{% endblock %}
