{% extends 'base_template.html'%}
{% load static %}
{% block body %}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="{% url 'Meat_Seafood' %}">Meat and Seafood</a></li>
                        <li><a href="{% url 'Fruits_Vegetables' %}">Fruit and Vegetables</a></li>
                        <li><a href="{% url 'Pantry' %}">Pantry</a></li>
                        <li><a href="{% url 'Beverages' %}">Beverages</a></li>
                        <li><a href="{% url 'Dairy_Eggs' %}">Dairy, Eggs & Cheese</a></li>
                        <li><a href="{% url 'Frozen_Foods' %}">Frozen Foods</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <datalist id="products">
                            <option value="Ribeye Steak"></option>
                            <option value="New York Strip Steak">
                            <option value="Chicken Thighs">
                            <option value="Chicken Breast">
                            <option value="Pork Chops">
                            <option value="Bacon"></option>
                            <option value="Shrimp">
                            <option value="Clams">
                            <option value="Banana"></option>
                            <option value="Watermelon"></option>
                            <option value="Mango">
                            <option value="Apple">
                            <option value="Grapes">
                            <option value="Orange">
                            <option value="Lemon">
                            <option value="Brocolli"></option>
                            <option value="Lettuce">
                            <option value="Carrots">
                            <option value="Potato">
                            <option value="Cucumber">
                            <option value="Tomato"></option>
                            <option value="Garlic">
                            <option value="Onions">
                            <option value="Pepsi">
                            <option value="Orange Juice	">
                            <option value="Pure Leaf"></option>
                            <option value="Crystal Geyser Water"></option>
                            <option value="La Croix"></option>
                            <option value="Starbucks Ice's Coffee"></option>
                            <option value="Red Bull"></option>
                            <option value="Kombucha"></option>
                            <option value="Cheddar Cheese"></option>
                            <option value="Whole Milk"></option>
                            <option value="Low Fat Milk"></option>
                            <option value="Cream Cheese"></option>
                            <option value="Yogurt"></option>
                            <option value="Dozen Eggs"></option>
                            <option value="Egg Whites"></option>
                            <option value="American Cheese"></option>
                            <option value="Cheerios"></option>
                            <option value="Brown rice"></option>
                            <option value="Oreos"></option>
                            <option value="Sourdough bread"></option>
                            <option value="Pickles"></option>
                            <option value="Canned black beans"></option>
                            <option value="Peanut butter"></option>
                            <option value="Sugar"></option>
                            <option value="Ice cream"></option>
                            <option value="Waffles"></option>
                            <option value="Cool Whip"></option>
                            <option value="Frozen blueberries"></option>
                            <option value="Hot Pockets"></option>
                            <option value="Garlic bread"></option>
                            <option value="Pizza"></option>
                            <option value="Ice cream bars"></option>
                        </datalist>
                        <form action="{% url 'search_result' %}" method = "GET" autocomplete = "off">
                            <input name = "query" type="text" list="products" placeholder="What do you need?" >
                            <button type="submit" class="site-btn" name="button">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="" alt="">
                        </div>
                    </div>
                </div>
                    <div class="row featured__filter">
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/steak1.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Ribeye Steak</a></h6>
                                    <h5>$14.99</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/newyorksteak.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Newyork Steak</a></h6>
                                    <h5>$12.49</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/chickenthighs.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Chicken Thighs</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/chickenbreasts.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Chicken Breasts</a></h6>
                                    <h5>$11.99 - 1.4 lbs</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/porkchops.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Pork Chops</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/bacon.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Bacon</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/shrimp.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">Shrimp</a></h6>
                                    <h5>$11.99 - 1.0 lb</h5>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <div class="product__details__quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="{% static 'img/Meats/clams.jpg'%}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">clams</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

{% endblock %}
