{% extends 'base_product_template.html'%}
{% load static %}
{% block product_info %}
<!DOCTYPE html>
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large" src="{{product.imageURL}}" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="img/product/details/product-details-2.jpg" src="img/product/details/#.jpg"
                            alt="">
                        <img data-imgbigurl="img/product/details/product-details-3.jpg" src="img/product/details/#.jpg"
                            alt="">
                        <img data-imgbigurl="img/product/details/product-details-5.jpg" src="img/product/details/#.jpg"
                            alt="">
                        <img data-imgbigurl="img/product/details/product-details-4.jpg" src="#" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{product.name}}</h3>
                    <div class="product__details__rating">
                    </div>
                    <div class="product__details__price">${{product.price|floatformat:2}}</div>
                    <p>{{product.description}}</p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" id="yoyo" value="1">
                            </div>
                        </div>
                    </div>
                    {% for message in messages %}
                    <script>alert("{{message}}")</script>
                    {% endfor %}
                    {% if product.amount_in_stock <= 0 %} <button type="button" data-product={{ordereditem.product.id}}
                        data-action="add" class="btn btn-outline-secondary btn-sm btn-rounded" disabled>OUT
                        OF STOCK</button>
                        <ul>
                            <li><b>Availability</b> <span>Out of Stock</span></li>
                            <li><b>Weight</b> <span>{{product.weight|floatformat:2}} lb(s)</span></li>
                        </ul>
                        {% else %}
                        <button type="submit"
                            class="btn btn-outline-primary btn-sm btn-rounded add-specific-quantity">ADD TO
                            CART</button>
                        <ul>
                            <li><b>Availability</b> <span>{{product.amount_in_stock}}</span></li>
                            <li><b>Weight</b> <span>{{product.weight|floatformat:2}} lb(s)</span></li>
                        </ul>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    addSpecificQuantityButton = document.getElementsByClassName('add-specific-quantity')
    for (var i = 0; i < addSpecificQuantityButton.length; i++) {
        addSpecificQuantityButton[i].addEventListener('click', function () {
            var userQuantity = document.getElementById('yoyo').value
            var productID = "{{product.id}}"
            var action = "add"
            console.log('user_quantity:', userQuantity, 'action:', action)
            console.log('productID:', productID)
            if (username == 'AnonymousUser') {
                alert('Please login or sign up to purchase our products.')
            }
            else {
                fetchSpecificQuantity(userQuantity, productID, action).then(response => {
                    console.log(response)
                    location.reload();
                }).catch(error => {
                    console.error("Error:", error);
                })
            }
        })
    }
</script>
<!-- Product Details Section End -->
{% endblock %}